<!DOCTYPE html>
html(lang="ru")
	head
		title not onliner 
		meta(charset="UTF-8")
		meta(name="description" content="")
		meta(
			name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1"
			)
		meta(
			property="og:image" 
			content="path/to/image.jpg"
		)
		link(
			rel="shortcut icon"
			href="img/favicon/favicon.ico"
			type="image/x-icon"
		)
		link(
			rel="apple-touch-icon" 
			href="img/favicon/apple-touch-icon.png"
		)
		link(
			rel="apple-touch-icon"
			sizes="72x72"
			href="img/favicon/apple-touch-icon-72x72.png"
		)
		link(
	   rel="apple-touch-icon"
      sizes="114x114"
      href="img/favicon/apple-touch-icon-114x114.png"	
		)

		//Chrome, Firefox OS and Opera
		meta(
			name="theme-color" 
			content="#000"
		)
		// Windows Phone
		meta(
			name="msapplication-navbutton-color" 
			content="#000"
		)
		// iOS Safari
		meta(
			name="apple-mobile-web-app-status-bar-style" 
			content="#000"
		)
		link(rel="stylesheet" href="css/main.min.css")
	body
		//- .wrapper
		//- 	.content
		//- 		header.header 
		//- 			.header__top
		//- 				.container 
		//- 					.header__top-inner
		//- 						.header__box--left  
		//- 							.header__logo
		//- 								a(href="#")
		//- 									<span>Mebel</span>Group
		//- 							nav.header__menu
		//- 								ul.header__item
		//- 									li.header__list
		//- 										a.header__link(href="#") Abosut us
		//- 									li.header__list
		//- 										a.header__link(href="#") Feedback
		//- 						.header__box--right
		//- 							.header__text
		//- 								a.header__phone(href="tel:+375299218488") +375 29 9218488
		//- 								.header__delivery delivery throughout Russia
		//- 							.header__search-form
		//- 								form(action="")
		//- 									input(type="text" placeholder="Search")
		//- 								.header__btn 
		//- 									a.header__btn-menu(href="#") <img src="https://img.icons8.com/ios-filled/50/000000/search.png"/>
		//- 									a.header__btn-menu(href="#") 
		//- 										img(src="img/header__user.svg")
		//- 									a.header__btn-menu(href="#") 
		//- 										img(src="img/header__shop.svg")	



			footer.footer 


		script(src="js/scripts.min.js")
